*{
    padding: 0px;
    margin: 0px;
}
.container {
    display: flex;
    margin-top: 20px;
    padding: 10px;
}



/*.jumbotron {*/
/*    margin-top: 10px;*/
/*    height: 346px;*/
/*    background-image: url("http://java.codeup.com/examples/bootstrap/pizza.png");*/
/*    background-size: cover;*/
/*}*/
h1 {
    display: flex;
    /*align-content: center;*/
    /*text-align: center;*/
    font-size: 3em;
    justify-content: center;
    margin-top: 10px;
}
h2{
    margin-left: 15px;
    color: red;
}
.form-control{
    background-color: darkseagreen;
    width: 150px;
}
.btn {
    background-color: cyan;
}
h5{
    background-color: blue;
    color: white;
    border: 2px solid black;
    margin: 5px;
}
.one, .two{
    margin-left: 10px;
}
div:nth-of-type(4){
    border: 4px solid black;
    height: 500px;
    margin-left: 5px;
    margin-right: 5px;
}
.checkbox {
    margin-left: 10px;
}
