/*table {*/
/*    border-collapse: collapse;*/
/*    margin: 15px 0;*/
/*}*/

/*td, th {*/
/*    border: 1px solid black;*/
/*    padding: 5px 10px;*/
/*}*/

/*div{*/
/*    border: 1px solid black;*/
/*}*/

h1 {
    text-align: center;
    border-bottom: 1pt solid lightgray;
}

#main-container {
    border: 1pt solid hotpink;
}

p {
    font-size: 1em;
    /*border: 1pt solid black;*/

}

h2 {
    font-size: 1.5em !important;
}
.coffee {
    /*border: 1px solid hotpink;*/
    width: 12em;

}

.dropDown{
    width: 530px;
}

/*h5{*/
/*    margin-top: 50px;*/
/*    border: 2px solid red;*/
/*}*/
.coffee-name{
    /*border: 2px solid red;*/
    margin-top: 15px;
}

/*.submit{*/
/*    width: 530px;*/
/*    cursor: wait;*/
/*    border: 2px solid green;*/

/*}*/

.btn-lg{
    width: 530px;
    border: 50px solid green;
}